<%- include('header'); -%>
<h1 class="titel">Kunstwerken</h1>

<div class="button-group filters-button-group">
    <button class="button is-checked" data-filter="*">Alles</button>
    <button class="button" data-filter=".seurat">Seurat</button>
    <button class="button" data-filter=".signac">Signac</button>
    <button class="button" data-filter=".pissarro">Pissarro</button>
    <button class="button" data-filter=".landschappen">Landschappen</button>
    <button class="button" data-filter=".mensen">Mensen</button>
  </div>

<div class="grid">
<% for (let i=0; i<posts.length; i++) { %>
  <section class="post">
    <%- include('artpost', {post: posts[i], index: i}); -%>
  </section>
<% } // close forloop %>
</div>

<script src="/js/isotope.js"></script>
<script src="/js/script.js"></script>
