<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Van Duysen Tess">
    <meta name="description" content="Voorbeeld van portfolio in Node/Express">
    <meta name="keywords" content="JS, Node, Express, EJS, portfolio">

    <title>Pointillisme Museum</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
    <nav>
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a href="/"><li>Home</li></a>
            <a href="/artwork"><li>Artwork</li></a>
            <a href="/contact"><li>Contact</li></a>
          </ul>
        </div>
      </nav>
    </nav>
  </div>
  <img src="/img/logo.png" alt="logo" class="logo"></img>
