<%- include('header'); -%>
<h1 class="titel">Welkom in ons museum</h1>
<p class="tekst">Heel ons museum draait rond het pointillisme. Het pointillisme is een schildertechniek die vooral aan het eind van de negentiende eeuw werd beoefend. Ze wordt getypeerd door het gebruik van stippen die ongemengd op het doek worden geplaatst. Doel was vooral het licht te accentueren op basis van een analyse van de kleuren.<br>Georges Seurat, Paul Signac en Camille Pissarro zijn drie bekende schilders die fervent gebruik maakten van deze techniek.</p>
<h2 class="ondertitel">Werk in de kijker!</h2>
<section class="post">
<%- include('artpost', {post: posts[9], index: 9}); -%>
